<div class="jumbotron center">
	<hgroup>
		<h1>Purge off the weight for 2014</h1>
		<h2>Protect versus Perform, which side are you on?</h2>
	</hgroup>
	
	<div class="mod-signup">
		<%= link_to "Sign up for free", "#", class: "btn btn-primary btn-lg" %>
	</div>
</div>