<div class="jumbotron center">
	<hgroup>
		<h1>Deliver apps, the right way.</h1>
		<h2>Cloud computing designed and built for developers.</h2>
	</hgroup>
	
	<div class="mod-signup">
		<%= link_to "Sign up for free", "#", class: "btn btn-primary btn-lg" %>
	</div>
</div>